.header
  .header__main
    .header__main__title
      foodie share time
    .header__main__subtitle
      ー全国お取り寄せグルメ口コミサイトー
  .header__sub
    .header__sub__menu
      .header__sub__menu__btn
        = link_to "新規登録", new_user_registration_path, class: "signup"
        = link_to "ログイン", new_user_session_path, class: "login"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout"