.header
  .header__main
    .header__main__title
      foodie share time
    .header__main__subtitle
      ー全国お取り寄せグルメ口コミサイトー
  .header__sub
    %ul.header__sub__menu
      %li.signup
      = link_to "新規登録", new_user_registration_path
      %li.login
      = link_to edit_user_path(current_user) do
        ログイン