.main
  .categories
    .categories__list
      カテゴリー
      %p.categories__list__name
        お米＊麺＊パン
      %p.categories__list__name
        お肉＊お魚
      %p.categories__list__name
        飲み物
      %p.categories__list__name
        お菓子
  .messages
    = render @messages