.message
  .message__info    
    .message__text
      .message__info__name
        - @messages.each do |message|
          = message.user.name
          - if message.content.present?
            .message__text__content
              = image_tag message.image.url, class: 'message__text__image' if message.image.present?
            .message__text__content__
              = message.content