.main
  .categories
    .categories__list
      カテゴリー
      %p.categories__list__name
        米・麺・パン
      %p.categories__list__name
        肉・魚
      %p.categories__list__name
        スイーツ
      %p.categories__list__name
        お酒