* {
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  width: 100vw;

  .header {
    display: block;
    &__main {
      width: 100vw;
      background-color: #c9485b;
      color: #ffffff;
      text-align: center;
      align-items: center;
      font-family: "Comic Sans MS";
      &__title {
        font-size: 40px;
        padding-top: 20px;   
      }
      &__subtitle {
        font-size: 15px;
        padding: 10px 0 10px 0;
      }
    }
    &__sub {
      background-color: #f5c3bc;
      height: 40px;
      width: 100vw;
      position: relative;
      ul {
        color: #ffffff;
        display: flex;
        position: absolute;
        right: 50px;
        bottom: 10px;
        li {
          margin-right: 10px;
        }
      }
    }
  }  
  .main {
    height: 100%;
    background-color: #f0efef;
    position: relative;
    .categories {
      background-color: #d1d1d0;
      width: 150px;
      height: 300px;
      z-index: 1;
      position: absolute;
      top: 40px;
      left: 20px;
      &__list {
        padding: 20px;
        &__name {
          padding: 10px;
          font-size: 15px;
        }
      }
    }
    .messages {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 35px 0 0 40px;
      overflow: scroll;
      .message {
        &__info {
          display: flex;
          margin-bottom: 12px;
          &__name {
            color: #333333;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        &__text {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 46px;
        }
      }
    }
  }
}